/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*! Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Helpers */
.text-align--right {
  text-align: right;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Main */
/* Vertical rhythm aim to make everything a multiple of 8  */
html {
  font-size: 1em;
  line-height: 1.5;
  font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
  color: #333;
  -webkit-tap-highlight-color: transparent
}

/* Configure base font-size at main breakpoints */
@media screen and (min-width: 30em) {html {font-size: 1.5em;}}
@media screen and (min-width: 60em) {html {font-size: 2em;  }}

.container {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

blockquote {
  padding-left: 1rem;
  border-left: 0.125rem solid #428bca;
}

a {
  /* TODO: Constrast vs consistency 5d4f85 is from haskell.org  */
  color: #428bca;
  /* color: #5d4f85; */
  text-decoration: none;
}

.on-hover-underline-a a:hover {
  /* padding-bottom: 0.0625em; */
  border-bottom: 0.125em solid #428bca;
}

code, pre {
  font-family: Ubuntu Mono,monospace;
}

code {
  color: #5d4f85;
  background-color: #ebe4f3;
  border-radius: 0.125rem;
  padding: 0.125em 0.25em;
}

pre {
  display: block;
  padding: 0.5rem;
  margin: 0 0 1rem;
  font-size: 0.70rem;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: rgba(0,0,0,.025);
  border: 1px solid transparent;
  border-radius: 0.125rem;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

pre .hs-definition {
  color: #70bee2
}

pre .hs-num {
  color: #ac7ff5
}

pre .hs-keyword {
  color: #6144b3
}

pre .hs-keyglyph,
pre .hs-layout {
  color: #606060
}

/*! Source: http://tachyons.io/components/nav/logo-links-inline-collapse/index.html */
/* Navigation */
.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-l {
        margin-right: 2rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1rem;
    }
}
