<nav>
  <hr />
  <ul id="bd-theme" class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#" data-bs-theme-value="light">
        <i class="fa fa-sun"></i>
        light</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-bs-theme-value="dark">
        <i class="fa fa-moon"></i>
        dark</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-bs-theme-value="auto">
        <i class="fa fa-meteor"></i>
        auto</a
      >
    </li>
  </ul>
</nav>
