<div class="card-body">
  $partial("templates/banner.html")$
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          href="http://cabal.readthedocs.io/en/latest/"
          target="_blank"
        >
          <i class="fa fa-book"></i>
          docs</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/download.html">
          <i class="fa fa-download"></i>
          download</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/releases/">
          <i class="fa fa-calendar"></i>
          releases</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/faq.html">
          <i class="fa fa-question-circle"></i>
          FAQ</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">
          <i class="fa fa-pen-nib"></i>
          blog</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/history.html">
          <i class="fa fa-clock-rotate-left"></i>
          history</a
        >
      </li>
    </ul>
  </nav>
  $partial("templates/color-mode.html")$
</div>
