<nav>
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/">~/</a></li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="http://cabal.readthedocs.io/en/latest/"
        target="_blank"
        >docs</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/download.html">download</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/releases/">releases</a></li>
    <li class="nav-item"><a class="nav-link" href="/pages/faq.html">FAQ</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog/">blog</a></li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/history.html">history</a>
    </li>
  </ul>
</nav>
